# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
*.db

# Environment
.env

# Frontend
frontend/node_modules/
frontend/dist/

# Uploads
uploads/

# OS
.DS_Store

# Logs
*.log

# WeChat Mini Program (UniApp)
wechat-miniprogram/node_modules/
wechat-miniprogram/dist/
